# Node modules
**/node_modules/
frontend/node_modules/
frontend/dist/

# PHP Vendor & cache
**/vendor/
backend/vendor/
backend/storage/logs/*.log
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*

# Git & misc
.git/
.gitignore
.DS_Store
*.md
